[Desktop Entry]
Type=Application
Name=PoMiDAQ
Comment=Record videos from Miniscopes
Exec=pomidaq
Icon=pomidaq
StartupNotify=true
Terminal=false
Categories=Science;Biology;
